@model SignInViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="container col-6">
    <div class="container fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form asp-controller="StartUp" asp-action="Login">
            <div class="text-center mb-3">
                <p>Sign in</p>
            </div>
            <div class="form-outline mb-4">
                <input asp-for="CPF" type="text" id="login" name="login" class="form-control" />
                <label asp-for="CPF" class="form-label" for="login">@Html.DisplayNameFor(model => model.CPF)</label>
            </div>
            <div class="form-outline mb-4">
                <input asp-for="Password" type="password" name="password" id="password" class="form-control" />
                <label asp-for="Password" class="form-label" for="password">@Html.DisplayNameFor(model => model.Password)</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
        </form>
    </div>
</div>